@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
body {
  background: -webkit-gradient(linear, left top, right top, from(#ff7e5f), to(#feb47b));
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.task {
  text-align: left;
}

.block {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}
.block h2 {
  margin-bottom: 20px;
  font-family: "Itim", cursive;
  font-weight: normal;
}
.block .outputBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  margin: 0 auto;
}
.block .outputBlock .inner-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.block .outputBlock .inner-block .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block .outputBlock .inner-block .right .doneBtn {
  margin-bottom: 10px;
}
.block .outputBlock .inner-block .task {
  margin-right: 80px;
  color: black;
}
.block .outputBlock .inner-block .doneBtn {
  width: 150px;
  border: none;
  border-radius: 5px;
  height: 30px;
  background-color: rgb(62, 173, 157);
  color: white;
  font-family: "Itim", cursive;
}
.block .outputBlock .inner-block .doneBtn:hover {
  background-color: white;
  color: black;
}
.block h1 {
  font-family: "Itim", cursive;
  font-weight: 500;
  margin-bottom: 20px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#8E2DE2), to(#4A00E0));
  background-image: linear-gradient(to right, #8E2DE2, #4A00E0);
}
.block .form {
  padding-bottom: 20px;
  margin-top: 20px;
}
.block .form input {
  width: 350px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}
.block .form input::-webkit-input-placeholder {
  color: black;
  font-family: "Itim", cursive;
}
.block .form input::-moz-placeholder {
  color: black;
  font-family: "Itim", cursive;
}
.block .form input:-ms-input-placeholder {
  color: black;
  font-family: "Itim", cursive;
}
.block .form input::-ms-input-placeholder {
  color: black;
  font-family: "Itim", cursive;
}
.block .form input::placeholder {
  color: black;
  font-family: "Itim", cursive;
}
.block .form button {
  width: 170px;
  border-radius: 10px;
  background-color: rgb(62, 173, 157);
  font-family: "Itim", cursive;
  color: white;
  border: none;
}
.block .form button:hover {
  background-color: dodgerblue;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.block p {
  font-family: "Itim", cursive;
  color: brown;
  font-size: 25px;
}
