@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.task {
    text-align: left;
}

.block {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;

    h2 {
        margin-bottom: 20px;
        font-family: "Itim", cursive;
        font-weight: normal;
    }

    .outputBlock {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 600px;
        margin: 0 auto;

        .inner-block {
            display: flex;
            justify-content: space-around;

            .right {
                display: flex;
                flex-direction: column;

                .doneBtn {
                    margin-bottom: 10px;
                }
            }

            .task {
                margin-right: 80px;
                color: black;
            }

            .doneBtn {
                width: 150px;
                border: none;
                border-radius: 5px;
                height: 30px;
                background-color: rgb(62, 173, 157);
                color: white;
                font-family: 'Itim', cursive;
            }

            .doneBtn:hover {
                background-color: white;
                color: black;
            }
        }
    }

    h1 {
        font-family: 'Itim', cursive;
        font-weight: 500;
        margin-bottom: 20px;
        // color: rgb(78, 131, 132);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(to right, #8E2DE2, #4A00E0);
    }

    .form {
        padding-bottom: 20px;
        margin-top: 20px;

        input {
            width: 350px;
            border: none;
            border-radius: 5px;
            padding-left: 10px;
        }

        input::placeholder {
            color: black;
            font-family: 'Itim', cursive;
        }

        button {
            width: 170px;
            border-radius: 10px;
            background-color: rgb(62, 173, 157);
            font-family: 'Itim', cursive;
            color: white;
            border: none;
        }

        button:hover {
            background-color: dodgerblue;
            transition: all 1s ease;
        }
    }

    p {
        font-family: 'Itim', cursive;
        color: brown;
        font-size: 25px;
    }
}
